<nav>
  <h1>Hi,</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="Kayleigh Ryherd"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo" class="image-logo" />
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>PhD Student, cat enthusiast</p>
  </div>
  <div id="content">
    <a href="/sidebar/2018/02/15/CV.html">CV</a><br>
    <a href="/sidebar/2018/02/15/Projects.html">Projects</a>
    <br><br>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
